/* SPDX-License-Identifier: BSD-3-Clause
 * Copyright 2018 Mellanox Technologies, Ltd
 */

/* Override readthedocs theme */

/* Set full width for all responsive tables of a page.
 * Usage: insert the following line in the doc.
 *        .. rst-class:: widepage
 */
@media screen and (min-width: 1100px) {
    .wy-nav-content-wrap:has(.widepage) {
        background: #fcfcfc !important;
    }
    .wy-nav-content:has(.widepage) .wy-table-responsive {
        overflow: visible !important;
    }
}

/* Spacing before a list item must be bigger than spacing inside the item.
 * Complex list items start with a p.first element. */
.section li > .first {
	margin-top: 18px;
}
